node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Env
.env

# Respositorio Publc

components
assets

screens/agendamentos
screens/barbearia-info
screens/barberLocation
screens/busca
screens/cortes
screens/editLocation
screens/google-face
screens/politica-privacidade
screens/ReactivateAccount
screens/register-barber
screens/select
screens/settings-profile
screens/StripeApp
screens/termos-servico
